* {
  box-sizing: border-box;
}
html,
body {
  min-height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
  text-align: center;
  background: #1b2a41;
  color: white;
  .bg {
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 0;
    filter: blur(8px);
    opacity: 0.35;
  }
}

h1,
h2 {
  font-weight: bold;
  font-size: 1.3rem;
  margin: 0;
  strong {
    color: #66E979;
  }
}

header {
  background: rgba(27, 42, 65, 0.85);
  border-radius: 16px;
  height: 86px;
  display: flex;
  align-items: center;
  position: fixed;
  width: calc(100% - 32px);
  z-index: 1;
  padding: 0 28px;
  .logo {
    display: block;
    position: relative;
  }
  .socials {
    display: flex;
    justify-content: center;
    margin-right: 48px;
    column-gap: 12px;
  }
  .btn-header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 12px;
  }
}

.content {
  padding: 16px;
  position: relative;
  z-index: 1;
  main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
    padding-top: 134px;
    padding-bottom: 121px;
  }
}

.btn {
  display: inline-block;
  padding: 13px 20px 12px;
  background-color: rgba(65, 86, 246, 0.9);
  color: white;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
  width: auto;
  position: relative;
  font-size: 15px;
  outline: none;
  border: none;
  transition: all .5s ease-out;
  cursor: pointer;
  &:hover {
    filter: brightness(135%);
  }
  &.btn-light {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
}

.card-map {
  max-width: 342px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background: rgba(27, 42, 65, 0.5);
  .map-cover {
    min-height: 230px;
    width: 100%;
    background-size: cover;
    background-position: center;
  }
  .map-date {
    font-family: "Roboto Condensed", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
    opacity: 0.5;
    margin-top: 12px;
  }
  .map-name {
    font-family: "Roboto", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
  }
  .map-detail {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 6px;
    .map-file {
      font-family: "Roboto Condensed", Arial, sans-serif;
      font-style: italic;
      font-weight: 400;
      font-size: 13px;
      line-height: 20px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #ffffff;
    }
    .map-weight {
      font-family: "Roboto Condensed", Arial, sans-serif;
      font-style: italic;
      font-weight: 400;
      font-size: 13px;
      line-height: 20px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #ffffff;
    }
  }
  .map-desc {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
    margin-bottom: 16px;
    padding: 0 12px;
  }
  .map-testurl {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    gap: 12px;
    width: 100%;
    background: #1b2a41;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
}

.form-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &.steps {
    align-items: start;
    text-align: left;
    gap: 48px;
    max-width: 780px;
    margin: auto;
    transition: all 1s ease-out;
    .step {
      display: flex;
      flex-direction: column;
      gap: 8px;
      width: 100%;
      &.inactive {
        opacity: 0.35;
        pointer-events: none;
      }
      .step-title {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 12px;
        .step-number {
          border-radius: 8px;
          padding: 6px 12px;
          border: 1px solid rgba(255, 255, 255, 1);
        }
      }
      .alert {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 12px 12px 24px;
        gap: 32px;
        background: rgba(233, 109, 81, 0.2);
        border: 1px solid rgba(233, 109, 81, 0.5);
        border-radius: 16px;
        align-self: stretch;
        text-align: left;
        .alert-text {
          font-family: 'Roboto Condensed';
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          color: #F4D5CB;
        }
      }
      .step-text {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: rgba(255, 255, 255, 0.75);
      }
      input[type="text"], input[type="url"] {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px 6px 0px 16px;
        color: white;
        font-size: 18px;
        gap: 4px;
        height: 52px;
        width: 100%;
        background: #1B2A41;
        border: 1px solid #3C5E90;
        border-radius: 12px;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
        &.error {
          border: 1px solid #E96D51;
          color: #E96D51;
        }
        &.success {
          color: #66E979;
          border: 1px solid #66E979;
        }
      }
    }
  }
  h1 {
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 40px;
  }
  .sub-heading {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 48px;
  }
  .radio-wrapper {
    display: flex;
    gap: 32px;
    .radio-card {
      .radio {
        opacity: 0;
        display: none;
        &:hover ~ .card-details {
          background: rgba(255, 255, 255, 0.1);
        }
        &:checked ~ .card-details {
          background: white;
          h2 {
            color: #4156F6;
          }
          svg {
            display: flex;
          }
          div {
            strong {
              color: #1B2A41;
            }
            color: #1B2A41;
          }
        }
      }
      .card-details {
        border: 1px solid rgba(255, 255, 255, 1);
        border-radius: 24px;
        padding: 32px 48px;
        transition: all 1s ease-out;
        position: relative;
        h2 {
          font-family: 'Oswald';
          font-weight: 400;
          font-size: 26px;
          margin-bottom: 8px;
        }
        svg {
          display: none;
          position: absolute;
          right: 24px;
          top: 24px;
        }
        div {
          font-size: 16px;
          line-height: 24px;
          color: rgba(255, 255, 255, .5);
          strong {
            display: block;
            font-weight: 700;
            color: rgba(255, 255, 255, 1);
          }
        }
      }
    }
  }
}

.button-wrapper {
  background: rgba(27, 42, 65, 0.85);
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 16px;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  a,
  .btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 16px 64px;
    font-size: 18px;
    gap: 8px;
    background: #e96d51;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    &.btn {
      transition: all 1s ease-out;
      &.btn-ghost {
        background: rgba(255,255,255,0.1);
        &:hover {
          background: rgba(255,255,255,0.2);
        }
      }
      &.btn-secondary {
        background: #4156F6;

      }
    }
  }
}